name: Input Options
env:
  ACC_1: "1234"
  ACC_2: "5678"
  ACC_3: "9012"
on:
  workflow_dispatch:
    inputs:
      account:
        description: 'Select account'
        required: true
        default: 'aws'
        type: choice
        options:
          - aws
          - azure 
      environment:
        description: 'Select environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - sbx
          - prd
          - a
          - b 

jobs:
  print-env:
    runs-on: ubuntu-latest
    steps:
      - name: Show selected account
        run: |
          ACC="${{ inputs.account }}"
          echo "Account selected: $ACC"
      - name: Show selected environment
        run: |
          ENV="${{ inputs.environment }}"
          echo "Environment selected: $ENV"
      - name: Set Name
        run: |
          if [ "${{ inputs.environment}}" == "dev" ]; then
            echo "name=${{ env.ACC_1 }}" >> $GITHUB_ENV
            echo "ENV=dev" >> $GITHUB_ENV
          elif [ "${{ inputs.environment}}" == "sbx" ]; then
            echo "name=${{ env.ACC_2 }}" >> $GITHUB_ENV
            echo "ENV=sbx" >> $GITHUB_ENV
          elif [ "${{ inputs.environment}}" == "prd" ]; then
            echo "name=${{ env.ACC_3 }}" >> $GITHUB_ENV
            echo "ENV=prd" >> $GITHUB_ENV
          else
            echo "name=${{ env.ACC_2 }}" >> $GITHUB_ENV
            echo "ENV=dev" >> $GITHUB_ENV
          fi
      - name: Display Name
        run: |
          echo ${{ env.name }}
          echo ${{ env.ENV }}
      - name: Conditionally run based on environment
        run: |
          if [ "${{ inputs.environment}}" == "dev" ] || [ "${{ inputs.environment}}" == "sbx" ]; then
            echo "add=DevOrSbx" >> $GITHUB_ENV
          elif [ "${{ inputs.environment}}" == "prd" ]; then
            echo "add=Prd" >> $GITHUB_ENV
          else
            echo "add=None" >> $GITHUB_ENV
          fi
      - name: Display Add
        run: |
          echo ${{ env.add }}
