name: Input Options
env:
  ACC_1: "1234"
  ACC_2: "5678"
  ACC_3: "9012"
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - sbx
          - prod

jobs:
  print-env:
    runs-on: ubuntu-latest
    steps:
      - name: Show selected environment
        run: |
          ENV="${{ inputs.environment }}"
          echo "Environment selected: $ENV"

      - name: Conditionally run based on environment
        run: |
          if [ "${{ inputs.environment}}" == "dev" || "${{ inputs.environment}}" == "sbx" ]; then
            echo "name=${{ env.ACC_1 }}" >> $GITHUB_ENV
          else
            echo "name=${{ env.ACC_3 }}" >> $GITHUB_ENV
          fi
      - name: Display Name
        run: |
          echo ${{ env.name }}
