name: Trigger Lambda Function

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Enter name"
        required: true
        default: "Alice"

jobs:
  invoke-lambda:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Set up AWS CLI with GitHub Secrets
      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Step 2: Invoke Lambda Function using AWS CLI
      - name: Invoke Lambda Function
        run: |
          aws lambda invoke \
            --function-name test-funct1 \
            --cli-binary-format raw-in-base64-out \
            --payload '{ "name": {{ inputs.name }} }' \
            output.json

          # Output the response from Lambda function
          cat output.json
